
.container {
  margin: 120px 0;
  display: flex;
  justify-content:center;
  align-items: center;

}

.container form {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 14px;
  
}

.container form > input {
  all: unset;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.password  {
 border: 1px solid #ccc;
  padding: 7px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .password input {
  all: unset;
}

.container button {
  all: unset;
   border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background: #2387da;
  color: #ffff;
  cursor: pointer;
}
.container .message {
margin: 5px auto;

}

.container .eyes{
  all: unset;
 
}

.container .eyes svg {
   cursor: pointer;
}

.message a {
  text-decoration: none;

}
.message {
  color: #6b6969;
}


.submitBtn svg {
    color: #fff;
   margin-right: 10px;
   vertical-align: sub;
}

.spinner {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        
    }
}



